html, body {
	font-size: 16px;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	/*font-family: 'PT Serif', serif;*/
}

nav {
	position: static;
}
/* Jumbotron */
.jumbotron {
	position: relative;
	background-image: url(../img/space3.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 0;
	background-attachment: fixed;
	height: 800px;
    height: 50rem;
	width: 100%;
	margin-bottom: 0;
	border-bottom: 2px solid #4E4E4E;
	overflow: hidden;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
    font-size: 4rem;
	
}
/* #site title */
.jumbotron h1 {
	font-size: 4rem;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

a#work-link {
    background-color: #37424c;
    border: 1px outset #9ee4e4;
    text-shadow: none;
    color: #9ee4e4;
    margin-top: 2.5rem;
	text-align: center;
    align-self: flex-end;
}
a#work-link:hover {
	background-color: #333e47;
    border: 1px solid #9ee4e4;
}

#astronaut {
	position: absolute;
	top: 200px;
	left: 250px;
	width: 150px;
	-webkit-animation: spin 8s infinite alternate; 
	-moz-animation:    spin 8s infinite alternate; 
	-o-animation:      spin 8s infinite alternate; 
	animation:         spin 8s infinite alternate;
}

/* ~~~~~ What-I-Do Section */
#what-i-do {
	color: gray;
	background: -webkit-linear-gradient(bottom, #0B1320, #000000, #404D58);
	background: -o-linear-gradient(bottom, #0B1320, #000000, #404D58);
	background: linear-gradient(to top, #0B1320, #000000, #404D58);
    border-bottom: 2px solid gray; 
    border-top: 2px solid gray;
    height: 100%; 
}
#what-i-do .col-md-4 {
	padding: 3rem;
}
#what-i-do .col-md-4 h4 {
	font-weight: bolder;
	color: #B1FFFF;
}
#what-i-do .col-md-4 i {
	padding: 1rem;
	margin: 0.5rem auto;
	font-size: 5rem;
}
#what-i-do .col-md-4 i:hover {
    color: #cccccc;
}
/* ~~~~~ABOUT~~~~ */
#about {
	padding: 5rem;
	height: 816px; 
	height: 51rem;
	background-image: url(../img/img-noise.png);
	background-repeat: repeat;
	background-attachment: fixed;
	border-top: 12px solid black;
    border-bottom: 12px solid black;
    overflow: hidden;
}
#about img {
    position: relative;
    /* height: 720px; */
    /* height: 45rem; */
    height: auto;
    width: 100%;
}
/*#about img {
	height: 592px;
    height: 37rem;
    top: 125px;
}*/

#about #about_text {
    text-shadow: 1px 2px 11px #000000;
    border-left: 4px solid black;
    padding-left: 1rem;
    color: #a7a7a7;
    font-size: 2.5rem;
}
#about aside {
	margin-top: 3rem;
}
#about i {
	color: gray;
	padding-right: 3.5rem;
}
/*~~~~ RECENT WORK*/
#recent-work-heading {
    color: #09101c;
    height: 240px;
    height: 15rem;
    border-bottom: 5px outset gray;
    border-radius: 0;
    background-color: rgb(143, 165, 204);
    outline: 1px inset white;

}
/*Large projects heading*/
#recent-work-heading h1 {
    padding: .8rem 6rem;
    /*position: relative;*/
    /*left: -2000px;*/
}
#recent-work-heading p {
	line-height: 0;
	color:#333;
}
/* ~~~~~~~~~ PROJECTS */
#projects {
	padding: 2rem;
	margin-top: 0;
	background-image: url(../img/patterns/abstract.png);
	background-repeat: repeat;
	background-attachment: scroll;
}
#projects hr {
	margin: 7rem auto;
	background-color: gray;
	height: 0;
	max-height: 0;
}

.project-title {
	position: relative;
	padding: 3rem;
	color: #b1ffff;
	left: 2000px;
}
.project-title h1 {
	font-size: 4rem;
	border-bottom: 1px solid #666;
}
.project-title p {
	font-style: italic;
}
.project-tech {
	margin: 0 auto;
	text-align: center;
}
.project-tech img, .project-tech i {
	position: relative;
	top: -0.5rem;
	width: 85px;
	margin: 0 auto;
}
.project-imgs {
	margin: 3rem auto;
	border: 2px solid gray;
	-webkit-transition: all 1s;
		transition: all 1s;
}
/* FIRST PROJECT - onepass */
#projects #onepass {
	margin-top: 3rem;
}
/* ~~~~~~~~~~~~~~MODALS */
.modal {
	background-color: #111;
}
.modal h1 {
	padding: 2rem 0;
}
.modal a:hover {
	text-decoration: none;
}
h1.modal-title {
	padding: 0;
	margin: 0;
}
.modal-dialog {
    background-color: rgba(175, 175, 175, 0.26);
    padding: 1rem;
    text-align: center;
    border-radius: 10px;
    border: 1px inset #d2d2d2;
    color: #c5c5c5;
}
.modal-content {
    padding: 1rem;
    background-color: #494949;
    color: cornflowerblue;
    border: 10px inset #7b7b7b;
}
.modal .site-links {
    background-color: #545454;
}
.close {
	color: white;
}
.site-links a {
	color: white;
    padding: 5rem;
}
.site-links a:hover {
	color: cornflowerblue;
}

/*FORM*/
#contact-form {
    background-image: radial-gradient( #50575c, #2d4e5a);
    color: #b1ffff;
	height: 45rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}
/*title*/
#contact-form h3 {
	border-bottom: 2px solid gray;
	padding-bottom: 3rem;
}
/*sub-title*/
#contact-form p {
	color: white;
	padding: 1.5rem;
}
#contact-form label {
	padding: 1rem;
}
#contact-form input {
    background-color: #37424c;
    border: 1px outset #9ee4e4;
    color: lightgray;
}
#contact-form input:hover {
	background-color: #333e47;
    border: 1px solid #9ee4e4;
}
.form-group.required .control-label:after { 
    color: #d00;
    content: "*";
}

#social-list li {
	align-self: center;
	list-style: none;
	display: inline-flex;
	padding: .75rem .50rem;
}
#social-list li a {
	color: gray;
}
#social-list li a:hover {
	color: black;
}

footer {
    background-color: #282828;
    padding: 1rem;
}
footer a, footer p {
	color: gray;
	text-decoration: none;
	font-size: 1.3rem;
	padding: 1rem;
}
footer a:hover {
	text-decoration: none;
	color: cornflowerblue;
}

textarea {
    resize: vertical;
    color: gray;
}
/* FILTERS */
.contrast150 {
	filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="1.5" intercept="-0.25" /><feFuncG type="linear" slope="1.5" intercept="-0.25" /><feFuncB type="linear" slope="1.5" intercept="-0.25" /></feComponentTransfer></filter></svg>#filter');
	-webkit-filter: contrast(150%);
	  filter: contrast(150%);
	  border: 2px double  cornflowerblue;
	  border-radius: 30px;
}
.sepia100 {
	filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.393 0.769 0.189 0 0 0.349 0.686 0.168 0 0 0.272 0.534 0.131 0 0 0 0 0 1 0" /></filter></svg>#filter');
	-webkit-filter: sepia(100%);
	filter: sepia(100%);
}
.blur {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}
.slow-spin {
  -webkit-animation: fa-spin 4s infinite linear;
  animation: fa-spin 4s infinite linear;
}
/* spin keyframes for Astronaught */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(50deg) ;
  }
}
/* TYPED.JS */
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}


/* MEDIA QUERIES

 Extra small devices (portrait phones, less than 34em)
 No media query since this is the default in Bootstrap

 Small devices (landscape phones, 34em and up)
 */

/* 34em = 544px & downn*/
@media (max-width: 35.9em) { 	
	#recent-work-heading h1 {
		font-size: 2.5rem;
		padding: 2rem 0 0 0;
	}

}

/*Medium devices (tablets, 768px and up)*/
/* 48rem = 768px & down */
@media (min-width: 36em) and (max-width: 48em) { 
	#recent-work-heading h1 {
		font-size: 6rem;
	}

}
/* 61rem = 976px & down */
@media (max-width: 61.5em) { 	
	.jumbotron h1 {
		font-size: 3rem;
	}
	html, body {
		font-size: 14px;
	}

}

/*Large devices (desktops, 62em and up)*/
/* 62rem = 992px & up */
@media (min-width: 73em) { 	
	#about i {
		padding-top:2rem; 
	}
	#about h5 {
		line-height:3rem; 
	}
}
/* 74rem = 1184px & down*/
@media (max-width: 74em) and (min-width: 62em) { 	
	.jumbotron h1 {
		font-size: 4rem;
	}

}

/*Extra large devices (large desktops, 75em and up)*/
/* 75rem = 1200px  & up */
@media (min-width: 75em) { 	
}


/*updating bootstrap defaults*/

.text-info {
    color: #b1ffff !important;
} 